<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-source">
      <!-- TODO: update once the repo is pushed to your own GitHub org -->
      <a href="https://github.com/BitDevsZaria/bitdevszaria.org" target="_blank" rel="noopener nofollow">Source available on Github</a>
    </div>
    <div class="Footer-rss">
      <a href="/feed.xml">RSS Feed</a>
    </div>
  </div>
</footer>
